.flexy {
    display: flex;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.btn-op {
    color: black;
    background-color: orange;
    /* font-size: 20px; */
}

#btn-equal {
    background-color: aqua;
    border-radius: 100px;
    border: 2px solid black;
}